img.artist-header {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.container {
    max-width: 1080px; 
    margin: 0 auto; 
}

.wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}