.album-artwork {
  display: block;
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  margin-bottom: 10px;
}

.album-wrapper {
  float: right;
  margin-bottom: 15px;
  display: block;
  width: 250px;
}

.album-wrapper > h4.ant-typography {
  font-size: 12px;
}

.album-wrapper > .ant-typography {
  font-size: 12px;
}

.album-wrapper > .ant-divider-horizontal {
  margin: 10px 0;
}
